#Task1 Directory

Tasks/vlm-sft-flowerclassification/.venv
Tasks/vlm-sft-flowerclassification/finalmodel
Tasks/vlm-sft-flowerclassification/checkpoints
Tasks/vlm-sft-flowerclassification/__pycache__

#Task-2
Tasks/slm-grpo-gsm8k/__pycache__
Tasks/slm-grpo-gsm8k/wandb
Tasks/slm-grpo-gsm8k/.venv
Tasks/slm-grpo-gsm8k/grpo-gsm8k-output
Tasks/slm-grpo-gsm8k/venv/ 